.students__reviews {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 120px;

    .student__reviews__title {
        width: 796px;
        margin-bottom: 40px;
        font-size: 52px;
        line-height: 54px;
    }

    .student__review {
        padding: 32px;
        border-radius: 20px;

        .student__review__header {
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: 44px 1fr;
            grid-gap: 4px 12px;
            grid-column: 1/-1;

            img {
                width: 42px;
                height: 42px;
                border-radius: 50%;
            }

            .student__review__name {
                font-size: 16px;
            }

            .student__review__city {
                font-weight: 500;
                font-size: 16px;
            }

            .student__review__course {
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: 14px;
                margin-top: 12px;
                display: block;
                font-weight: 500;

                a {
                    font-size: inherit;
                    color: inherit;
                    font-weight: bold;
                }
            }

            .student__review__stars {
                grid-row: 2/3;
                grid-column: 2/3;

                use {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        .student__review__text {
            padding-top: 16px;
            padding-left: 54px;
            width: 750px;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 44px;
        }

        .student__review__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #c3c2be;
            margin-left: 54px;
            width: 150px;
            height: 40px;
            border-radius: 8px;
            font-size: 14px;

            img {
                border-radius: 5px;
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }

        }

        .student__review__button:hover {
            background-color: black;
            color: white;
            cursor: pointer;
            transition: 0.15s ease-out;
        }
    }
}